body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #cacabe;
}

h1 {
  color: blue;
}

.about-heading {
  color: green;
}

.home-heading {
  color: blue;
}
